<div class="problem-creation">
    <h1>Create Problem</h1>
    <input *ngIf="sourceCode.length < 1" type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

    <div class="annotate" *ngIf="sourceCode.length > 0">
        <mat-form-field>
            <mat-label>Problem Name</mat-label>
            <input matInput [(ngModel)]="name">
        </mat-form-field>
        <table>
            <tr>
                <th>Complexity</th>
            </tr>
            <tr *ngFor="let code of sourceCode; index as i">
                <td><input type="text" [(ngModel)]="complexity[i]"></td>
                <td><input type="text" [(ngModel)]="hints[i]"></td>
                <td>{{i}}</td>
                <td>{{code}}</td>
            </tr>
            <tr>
                <td><input type="text" [(ngModel)]="answer" placeholder="Overall Complexity"></td>
            </tr>
        </table>
        <button type="submit" (click)="submitProblem()">Submit</button>
    </div>
    
</div>

