<div class="problem-creation">
    <h1 class="page-title">Create Problem</h1>
    <div class="get-source-code" *ngIf="sourceCode.length < 1">
        <div class="source-code-entry">
            <h2 class="source-code-entry-label">Enter Source Code</h2><br>
            <div class="source-code" name="source-code" [(ngModel)]="codeInput" (keyup)="setCodeInput($event)" ngDefaultControl contenteditable></div><br>
            <input type="submit" (click)="getSourceCodeFromTextInput()">
        </div>
        <p>or</p>
        <label class="upload-code" for="file-input">
            <mat-icon class="upload-icon">cloud_upload</mat-icon>
            Upload Problem Code
        </label>
        <input type="file" id="file-input" (change)="onFileSelected($event)" #fileUpload>
    </div>
    <div class="teacher-annotations" *ngIf="sourceCode.length > 0">
        <table class="annotations">
            <tr class="problem-name-label">
                <th colspan="2" >Problem Name</th>
            </tr>
            <tr class="problem-name">
                <td colspan="2"><input [(ngModel)]="name">
            </tr>
            <tr>
                <th>Complexity</th>
                <th>Hints</th>
            </tr>
            <tr *ngFor="let code of sourceCode; index as i">
                <td class="line-complexity"><input type="text" [(ngModel)]="complexity[i]" maxlength="20"></td>
                <td class="line-hint"><input type="text" [(ngModel)]="hints[i]"></td>
                <td class="line-code" ><span class="line-number">{{i }}</span><span class="code">{{sourceCode[i]}}</span></td>
            </tr>
            <tr>
                <th>Overall Complexity</th>
            </tr>
            <tr>
                <td class="overall-complexity"><input type="text" [(ngModel)]="answer"></td>
            </tr>
        </table>
        <button type="submit" (click)="submitProblem()">Submit</button>
    </div>
    
</div>

