<div class="student-solution">
    <div class="solution-form" *ngIf="!isLoading">
        <div class="page-header">
            <h1 class="problem-name">{{problem.name}}</h1>
            <h1 class="score" *ngIf="showResults">{{score}}/{{problem.totalScore}}</h1>
        </div>
        <div class="annotations">
            <div class="column-labels">
                <div class="complexity-column-label">
                    <mat-label>Complexity</mat-label>
                </div>
            </div>
            <div class="form-line" *ngFor="let code of problem.sourceCode; index as i">
                <span class="line-answer" *ngIf="showResults">
                    <p>{{problem.complexity[i]}}</p>
                </span>
                <span class="line-complexity">
                    <input type="text" [(ngModel)]="complexityAnswer[i]" maxlength="20" [disabled]="showResults" [ngClass]="{
                        'correctAnswer' : lineComplexityCorrect(i) && showResults,
                        'incorrectAnswer' : !lineComplexityCorrect(i) && showResults
                     }">
                </span>
                <span class="code" [ngStyle]="{'background-color': getLineColor(i)}">
                    <span class="line-number">{{i + 1}}</span>
                    <span class="line-code" style="white-space:pre" matTooltip="{{problem.hints[i]}}" [matTooltipPosition]="'right'">{{problem.sourceCode[i]}}</span>
                </span>
            </div>
            <div class="overall-complexity">
                <mat-label>Overall Complexity</mat-label><br>
                <div class="form-line">
                <span *ngIf="showResults"><p>{{problem.overallComplexity}}</p></span>
                <!-- change to ternary -->
                <input type="text" [(ngModel)]="overallComplexity" [disabled]="showResults" [ngClass]="{
                    'correctAnswer' : overallComplexityCorrect() && showResults,
                    'incorrectAnswer' : !overallComplexityCorrect() && showResults
                }">
                </div>
            </div>
        </div><br>
            <button type="submit" class="problem-submit" (click)="submitSolution()" *ngIf="!showResults">Submit</button>
            <button class="problem-submit" *ngIf="showResults" routerLink="/student-problem-set/{{classroomId}}">Back to problems</button>
    </div>
    <div class="loading" *ngIf="isLoading">
        <mat-spinner></mat-spinner>
    </div>
</div>
