<div class="classroom-creation">
  <div class="classroom-list">
    <div class="classroom-list-items">
      <h1 class="page-title">Your Classrooms</h1>
      <div *ngFor="let classroom of teacherClassrooms; let i = index">
        <div *ngIf="showChild[i]">
        <app-classroom-detail [classroom]="classroom" [index]="i" (removeChild)="onChildRemove(i)"></app-classroom-detail>
        </div>
      </div>
    </div>
    <h1  *ngIf="!this.teacherClassrooms">No Classrooms Have been Created Yet.</h1>
  </div>
  <h1 class="page-title">Create a New Classroom</h1>
  <div class="classroom-form-entry">
    <h2 class="classroom-name-label">What would you like to name this classroom?</h2>
    <div class="classroom-form-field"[(ngModel)]="name" (keyup)="setTitleInput($event)" ngDefaultControl contenteditable>
    </div>
    <input type="submit" (click)="submitClassroom()">

  </div>
  <div>
    <input type="submit" value = "View Students" (click)="getAllStudents()">
    <input type="submit" value = "Test Add Student" (click)="addStudentTest()">
    <div *ngIf="this.view_student">
      <div *ngFor="let student of student_list">{{student.first_name}} {{student.last_name}} ({{student.email}})</div>
    </div>
  </div>

</div>
