.homepage-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

    background-color: white;
}

.role-selection{
    position: relative;
    top: 20%;
    width: auto;
    height: fit-content;
}

.role-selection > button {
    margin: 30px;
    padding: 40px;
    color: #49494b;
    font-size: larger;
    background-color: #d1bfa7;
}