<div class = "student-problem-set">
  <mat-accordion>
    <mat-expansion-panel class = "problem-set" *ngFor = "let set of sets">
      <!--Display a set only if its visibility is set to 0 (enabled) OR the visibility is show by date, current date isn't null, and current day < duedate-->
      <div *ngIf = "(set.visibility.equals(0)) || (set.visibility.equals(2) && currentDate != null && set.dueDate > currentDate)">
        <mat-expansion-panel-header class = "header">
          <mat-panel-title class = "set info">
            <h3 class = "set-name">
              {{set.name}}
            </h3>
          </mat-panel-title>
          <!--The description of the panel will include the due date information-->
          <mat-panel-description>
            Due date: {{set.dueDate}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <button mat-raised-button color = "primary" class = "problem" *ngFor = "let problem of set.problems">
          <button (click) = "selectProblem(problem.id)">{{problem.name}}</button>
        </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

