<div class="teacher-problemset-page">
    <h1 class="page-title">Sets</h1>
    <div class="sets">
        <div class="flex-container">
            <div class="sidebar">
                <div> <!-- Problem Form - might not need the form tag -->
                    <form>
                        <div class="form-group">
                            <mat-label>Set Name</mat-label><br>
                            <!-- [(ngModel)]="overallComplexity"> -->
                            <input type="text">
                        </div>
                        <div class="form-group">
                            <mat-label>Set Type</mat-label><br>
                            <!-- <select [(ngModel)]="selectedTeam"> -->
                            <div class="custom-select">
                                <select>
                                    <option>Practice</option>
                                    <option default>Assignment</option>
                                    <option>Quiz</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <mat-label>Show Date</mat-label><br>
                            <input type="date">
                        </div>
                        <div class="form-group">
                            <mat-label>Due Date</mat-label>
                            <input type="date">
                        </div>
                        <div class="form-group">
                            <mat-label>Visibility</mat-label><br>
                            <!-- <select [(ngModel)]="selectedTeam"> -->
                            <div class="custom-select">
                                <select>
                                    <option default>Enabled</option>
                                    <option>Disabled</option>
                                    <option>Based on due date</option>
                                </select>
                            </div>
                        </div>
                        <div class="buttom-form-group">
                        <button type="button" class="form-button">Create</button>
                            <div class="inline-form-group">
                                <button type="button" class="form-button">Update</button>
                                <button type="button" class="form-button">Delete</button>
                            </div>
                        <button type="button" class="form-button">View Problems</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="main">
                <div class="set">
                    <h3>Practice Problems</h3>
                    <div class="set-flex-container">
                        <div class="set-content">
                            <label>Type: Assignment</label><br>
                        </div>
                        <div class="set-content">
                            <label>Problems: 0</label><br>
                        </div>
                        <div class="set-content">
                            <label>Show Date: 4/16/2022</label><br>
                        </div>
                        <div class="set-content">
                            <label>Due Date: 5/16/2023</label><br>
                        </div>
                        <div class="set-content">
                            <label>Visibility: Three days after due date</label><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>