<div class="teacher-problemset-page">
    <h1 class="page-title">Sets</h1>
    <div class="sets">
        <div class="flex-container">
            <div class="sidebar">
                <div> 
                    <div>
                        <div class="form-group">
                            <mat-label>Set Name</mat-label><br>
                            <input type="text" [(ngModel)]="problemsetForm.name">
                        </div>
                        <div class="form-group">
                            <mat-label>Set Type</mat-label><br>
                            <div class="custom-select">
                                <select [(ngModel)]="problemsetForm.type">
                                    <option>Practice</option>
                                    <option default>Assignment</option>
                                    <option>Quiz</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <mat-label>Show Date</mat-label><br>
                            <input type="date" [(ngModel)]="problemsetForm.showDate">
                        </div>
                        <div class="form-group">
                            <mat-label>Due Date</mat-label>
                            <input type="date" [(ngModel)]="problemsetForm.dueDate">
                        </div>
                        <div class="form-group">
                            <mat-label>Visibility</mat-label><br>
                            <div class="custom-select">
                                <select [(ngModel)]="problemsetForm.visibility">
                                    <option>Enabled</option>
                                    <option>Disabled</option>
                                    <option default>Based on due date</option>
                                </select>
                            </div>
                        </div>
                        <div class="buttom-form-group">
                        <button type="button" class="form-button" *ngIf="selectedProblemset === null" (click)="createProblemSet()">Create</button>
                        <div class="inline-form-group">
                            <button type="button" class="form-button" *ngIf="selectedProblemset !== null" (click)="updateProblemSet()">Update</button>
                            <button type="button" class="form-button" *ngIf="selectedProblemset !== null" (click)="deleteProblemSet()">Delete</button>
                        </div>
                        <button type="button" class="form-button" *ngIf="selectedProblemset !== null" (click)="viewProblemSet()">View Problems</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="set" *ngFor="let problemset of allProblemSets" [ngStyle]="{'border-color': getBorderColor(problemset)}" (click)="selectProblemSet(problemset)">
                    <h3>{{problemset.name}}</h3>
                    <div class="set-flex-container">
                        <div class="set-content">
                            <label>Type: {{problemset.type}}</label><br>
                        </div>
                        <div class="set-content">
                            <label>Problems: {{problemset.problemList.length}}</label><br>
                        </div>
                        <div class="set-content">
                            <label>Show Date: {{problemset.showDate}}</label><br>
                        </div>
                        <div class="set-content">
                            <label>Due Date: {{problemset.dueDate}}</label><br>
                        </div>
                        <div class="set-content">
                            <label>Visibility: {{problemset.visibility}}</label><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>