.teacher-problemset-page {
    margin: 5%;
    padding: 0px 0px 10px 0px;
}

.sets {
    margin: 3% 0;
}

.set {
    color: #d1bfa7;
    background-color: #49494b;
    border: 5px solid #bd8c7d;
    border-width: 5px;
    border-radius: 5px;
    padding: 0px 0px 0px 4px;
    margin: 10px 0px;
    cursor: pointer;
}

.button {
    background-color: #d1bfa7;
    padding: 10px;
    margin: 6px 5px 6px 8px;
    min-width: 88px;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    text-decoration:none;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}