<!--<mat-accordion>-->
<!--  <mat-expansion-panel>-->
<!--    <mat-expansion-panel-header>-->
<!--      <mat-panel-title>-->
<!--        Self aware panel-->
<!--      </mat-panel-title>-->
<!--      <mat-panel-description>-->
<!--        Description-->
<!--      </mat-panel-description>-->
<!--    </mat-expansion-panel-header>-->
<!--    <p>I'm visible because I am open</p>-->
<!--  </mat-expansion-panel>-->
<!--</mat-accordion>-->

<div class = "problem-set">
  <mat-accordion>
    <mat-expansion-panel class = "problem-set" *ngFor = "let set of Sets">
      <mat-expansion-panel-header class = "header">
        <mat-panel-title class = "set info">
          <h3 class = "set-name">
            {{set.name}}
          </h3>
          <!-- *ngFor to loop through each problem in each set and create a button for each -->
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</div>

