<div class="loginPage">
    <div class="login-form" *ngIf="showLoginPage">
        <div class="fields">
        <mat-form-field>
            <mat-label>Email</mat-label><br>
            <input type="email" matInput #email>
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput #password>
        </mat-form-field><br>
    </div>
        <button class="switch-page" (click)="switchPage()">Don't have an account?</button>
        <button class="login"  routerLink="../problem-creation">Login</button>
    </div>
    <div class="login-form" *ngIf="!showLoginPage">
        <mat-form-field>
            <mat-label>First name</mat-label>
            <input matInput #firstName>
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Last name</mat-label>
            <input matInput #lastName>
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput #email>
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput #password>
        </mat-form-field><br>
        <button class="switch-page" (click)="switchPage()">Have an account already?</button>
        <button class= "create-account" routerLink="../problem-creation">Create Account</button>
    </div>
</div>
