<div class="loginPage">
    <div class="login" *ngIf="showLoginPage">
        <mat-form-field>
            <mat-label>Email</mat-label><br>
            <input type="email" matInput #email>
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput #password>
        </mat-form-field><br>
        <button class="switchPage" (click)="switchPage()">Create Account</button><br>
        <button routerLink="../problem-creation">Login</button>
    </div>
    <div class="login" *ngIf="!showLoginPage">
        <mat-form-field>
            <mat-label>First name</mat-label>
            <input matInput #firstName>
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Last name</mat-label>
            <input matInput #lastName>
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput #email>
        </mat-form-field><br>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput #password>
        </mat-form-field><br>
        <button class="switchPage" (click)="switchPage()">Already Have An Account?</button><br>
        <button routerLink="../problem-creation">Create Account</button>
    </div>
</div>
