.mat-mdc-dialog-content {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.mat-mdc-dialog-actions{
    display: flex;
    justify-content: center;
  }

  .mat-mdc-dialog-actions > button{
    margin: 10px;
  }