<div class="search-page">
  <h1>Find Problems</h1>
  <div class="problem-search">
    <input class="search" (keyup)="searchProblems(searchValue.value)" maxlength="40" matInput placeholder="Search" #searchValue>
  </div>

  <div class="problems">
      <div class = problem *ngFor="let problem of selectedProblems">
          <h3>{{problem.name}}</h3>
      </div>
      <div *ngIf="selectedProblems.length == 0" class="no-match">
        <h3 *ngIf="searchValue.value">No matches for {{searchValue.value}}</h3>
        <h3 *ngIf="!searchValue.value">No matches</h3>
      </div>
  </div>
</div>
