<nav>
  <div class="navbar">
    <span class="menu" *ngIf="!userExists()"></span>
    <button mat-icon-button class="menu" *ngIf="userExists()" [matMenuTriggerFor]="navMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu class="dropdown-menu" #navMenu="matMenu">
      <button mat-menu-item routerLink="problem-selection">
        <mat-icon>search</mat-icon>
        <span>Problem Search</span>
      </button>
      <button mat-menu-item routerLink="problem-creation">
        <mat-icon>create</mat-icon>
        <span>Create a Problem</span>
      </button>
      <button mat-menu-item routerLink="teacher-set-problems/1">
        <mat-icon>school</mat-icon>
        <span>Temporary Teacher Problem page nav link</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Log Out</span>
      </button>
    </mat-menu>

    <span class="title">Encounter</span>
    <b class="user-exists" *ngIf="userExists()">{{firstName.charAt(0).toUpperCase()}}{{lastName.charAt(0).toUpperCase()}}</b>
    <span class="user" *ngIf="!userExists()"></span>
  </div>
  <div class="line"></div>
</nav>
