.navbar {
    background-color: #49494b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 30px 25px;
}

.menu {
    height: auto;
    width: auto;
    background-color: #49494b;
    border:  none;
    color: #d1bfa7;
}

.menu mat-icon {
    font-size: 2em;
    height: auto;
    width: auto;
}

.title {
    font-size: 4em;
    font-family: "Times New Roman", Times, serif;
    color: #d1bfa7;
}

.search {
    border: 3px solid #d1bfa7;
    background-color: white;
    border-radius: 6px;
    color: #bd8c7d;
    font-size: 1.1em;
}

.search:focus{ 
    outline-color: white;
    outline-style: solid; /* Needed for firefox */
}

::placeholder {
    color: #bd8c7d;
    opacity: .5;
}

.line {
    width: 100%;
    height: 4px;
    background-color: #bd8c7d;
}